body {
  font-family: "Montserrat", sans-serif;
}
#main-header {
  width: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  background-color: #0099cc;
  color: #fff;
  h1 {
    font-size: 5rem;
  }
}
.align-center {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
